<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-time-sheet-heading" jhiTranslate="ipcTimeSheetApp.timeSheet.home.createOrEditLabel">Create or edit a Time Sheet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--<div class="form-group" [hidden]="!timeSheet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="timeSheet.id" readonly />
                </div>-->
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" jhiTranslate="ipcTimeSheetApp.timeSheet.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="timeSheet.user" [compareWith]="compareByOptionId" required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption" *ngFor="let userOption of users">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ipcTimeSheetApp.timeSheet.projectCode" for="field_projectCode">Project Code</label>
                    <select class="form-control" id="field_projectCode" name="projectCode" [(ngModel)]="timeSheet.projectCode" [compareWith]="compareByOptionId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectCodeOption" *ngFor="let projectCodeOption of projectCodes;">{{projectCodeOption.projectCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ipcTimeSheetApp.timeSheet.taskType" for="field_taskType">Task Type</label>
                    <select class="form-control" id="field_taskType" name="taskType" [(ngModel)]="timeSheet.taskType" [compareWith]="compareByOptionId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="taskTypeOption" *ngFor="let taskTypeOption of tasktypes;">{{taskTypeOption.taskType}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ipcTimeSheetApp.timeSheet.forDate" for="field_forDate">For Date</label>
                    <div class="d-flex">
                        <input id="field_forDate" type="date" (ngModelChange)="populateCopyToArray($event)" class="form-control forDat" name="forDate" [(ngModel)]="forDate" [disabled] = "this.timeSheet.id"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ipcTimeSheetApp.timeSheet.copyTo" for="field_copyTo">Copy to : </label>
                    <div class="d-flex" id="field_copyTo" >
                        <label class="weekDayCheckBox" *ngFor="let item of toCopyArray;index as i" ><input id="copyTo_{{i}}" type="checkbox" class="form-control " name="copyTo_{{i}}" [(ngModel)]="item.isSelected" [disabled]="item.isDisabled"/>{{item.weekDate | date:'EEE d MMM, y'}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ipcTimeSheetApp.timeSheet.actualHours" for="field_actualHours">Actual Hours</label>
                    <input type="number" class="form-control" name="actualHours" id="field_actualHours"
                        [(ngModel)]="timeSheet.actualHours" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ipcTimeSheetApp.timeSheet.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                        [(ngModel)]="timeSheet.comments" />
                </div>
            <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>

</div>
