.weekDayCheckBox {
    text-align: center;
}
.reportDate {
    width: 165px;
    display: inline-block !important;
}
.reportDateLabel {
    font-size: 14px;
}
.userList {
    width: 200px;
    display: inline-block;
}
.exportContainerDiv {
    display: inline-block;
    margin-left: 3%;
}
