.weekDayCheckBox{
    text-align: center;
}
.reportDate{
    width: 180px;
    display: inline-block !important;
}
.reportDateLabel{
    font-size : 14px;
}
.exportContainerDiv{
    display: inline-block;
    margin-left: 10%;
}