<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="timeSheet">
            <h2><span jhiTranslate="ipcTimeSheetApp.timeSheet.detail.title">Time Sheet</span> {{timeSheet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ipcTimeSheetApp.timeSheet.forDate">For Date</span></dt>
                <dd>
                    <span>{{timeSheet.forDate}}</span>
                </dd>
                <dt><span jhiTranslate="ipcTimeSheetApp.timeSheet.actualHours">Actual Hours</span></dt>
                <dd>
                    <span>{{timeSheet.actualHours}}</span>
                </dd>
                <dt><span jhiTranslate="ipcTimeSheetApp.timeSheet.comments">Comments</span></dt>
                <dd>
                    <span>{{timeSheet.comments}}</span>
                </dd>
                <dt><span jhiTranslate="ipcTimeSheetApp.timeSheet.taskType">Task Type</span></dt>
                <dd>
                    <div *ngIf="timeSheet.taskTypeId">
                        <a [routerLink]="['/task-type', timeSheet.taskTypeId, 'view']">{{timeSheet.taskTypeId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ipcTimeSheetApp.timeSheet.user">User</span></dt>
                <dd>
                    {{timeSheet.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time-sheet', timeSheet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
