<div class="container-fluid row" [ngSwitch]="isAuthenticated()">
    <div class="col-md-12 row" *ngSwitchCase="false">
            <div class="col-md-6">
                    <span class="hipster img-fluid rounded"></span>
            </div>
            <div class="col-md-6" *ngSwitchCase="false">
                    <jhi-login-modal></jhi-login-modal>
            </div>
        </div>
        <div class="col-md-12 alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}"</span><a routerLink="/time-sheet"> go to home</a> to log your time.
         </div>
  </div>
